/**
 * @style.css 
 * @author Ali Kutluozen
 *
 * Styling of HTML elements
 */

body {
    background: black;
}

#game-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.75);
    background: #ddffff;
    display: block;
    border-radius: 50%;
}

#counter {
    background: black;
    position: fixed;
    z-index: 100;
    color: white;
}

#files {
    display: none;
}