/**
 * animations.css 
 * author Ali Kutluozen
 *
 * Animations of HTML elements
 */

@keyframes fadeIn {
    0%, 10% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%, 10% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

.turn {
    animation: turn 1s infinite;
}