/**
 * @style.css 
 * @author Ali Kutluozen
 *
 * Styling of HTML elements
 */

 /* FONTS, FILES */
 
 @font-face {
    font-family: Photon;
    src: url(../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

/* GAME ESSENTIALS */

body {
    background: black;
    font-family: Photon;
    font-weight: lighter;
    color: white;
}

#game-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    background: #ddffff;
    background-image: url('../images/grid.png');
    display: block;
    cursor: auto;
    height: calc(100vh);
    width: auto;
    image-rendering: auto;
}

#counter {
    background: black;
    position: fixed;
    z-index: 100;
    color: white;
}

#files {
    display: none;
}

/* MENU SCREENS */

#touch-to-play, #pause-menu, #game-over, #loading-screen {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#loading-screen {
    background: black;
    z-index: 2;
}

.center-menu {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background: black;
}

#pause-button {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

#loading-screen-image {
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border-right: 8px solid white;
}

/* TEXT ALIGNMENT */

.center-h {
    text-align: center;
}

.center-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-margin {
    margin: 0px;
}

/* TEXT SIZES */

h1 {
    font-size: calc(8vw);
}

h2 {
    font-size: calc(7vw);
}

/* COLORS */

.gray {
    color: #666;
}

.red {
    color: rgb(180, 0, 0);
}

.center-menu h2 {
    color: gray;
}

