/**
 * @style.css 
 * @author Ali Kutluozen
 *
 * Styling of HTML elements
 */

 /* FONTS, FILES */
 
 @font-face {
    font-family: Photon;
    src: url(../fonts/upheaval/upheavtt.ttf);
}

/* GAME ESSENTIALS */


body {
    background: black;
    font-family: Photon;
    font-weight: lighter;
    color: white;
}

#game {
    visibility: hidden;
    position: fixed;
}

#menu {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0px;
    top: 0px;
}

#game-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    background: #ddffff;
    background-image: url('../images/grid.png');
    display: block;
    cursor: auto;
    height: calc(100vh);
    width: auto;
    image-rendering: pixelated;
}

#counter {
    background: black;
    position: fixed;
    z-index: 100;
    color: white;
}

#files {
    display: none;
}

/* MENU SCREENS */

#touch-to-play, #pause-menu, #game-over, #loading-screen {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#loading-screen {
    background: black;
    z-index: 2;
}

.center-menu {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background: black;
}

#pause-button {
    position: absolute;
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

#loading-screen-image {
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border-right: 8px solid white;
}

/* MAIN MENU ITEMS */

.main-menu {
    /* height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    font-size: calc(20vw);
}

.start-button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    font-size: calc(15vw);
}

.store-button {
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translate(-10%, -60%);
    font-size: calc(9vw);
}

.options-button {
    position: absolute;
    right: 10%;
    top: 60%;
    transform: translate(10%, -60%);
    font-size: calc(9vw);
}

.story-button {
    position: absolute;
    left: 20%;
    top: 80%;
    transform: translate(-20%, -80%);
    font-size: calc(8vw);
}

.credits-button {
    position: absolute;
    right: 20%;
    top: 80%;
    transform: translate(20%, -80%);
    font-size: calc(8vw);
}

/* STORE */

.store-items { 
    overflow-x: scroll;
    width: 90%;
    margin: auto;
    display: block;
}

.items {
    width: 400%;
}

.item {
    width: 200px;
    height: 205px;
    margin: auto 20px;
    display: block;
    float: left;
    background: rgb(54, 54, 54);
    color: white;
}

.buy-button {
    width: 80px;
    height: 20px;
    background: white;
    color: black;
    margin: 10px auto;
    border: none;
    display: block;
}

.store-credit {
    color: goldenrod;
    float: right;
    margin-right: 20px;
}

.store-title {
    float: left;
    margin-left: 20px;
}

.item-title {
    height: 20px;
    padding: 0px;
    margin: 10px 0 0 0;
}

.item-price {
    margin: 0px;
    letter-spacing: 5px;
    color: goldenrod;
}

.store-bg {
    background: rgb(24, 24, 24) !important;
}

.store-header {
    height: 40px;
}

.item-picture {
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

.item-levels {
    width: 90%;
    height: 20px;
    margin: auto;
    display: block;
}

.item-level {
    width: 33%;
    height: 100%;
    display: block;
    float: left;
}

.item-level-inner {
    width: 80%;
    height: 100%;
    background: red;
    margin: auto;
}

/* HUD */

#hud {
    pointer-events: none;
    z-index: 1;
    position: absolute;
}

/* TEXT ALIGNMENT */

.center-h {
    text-align: center;
}

.center-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-margin {
    margin: 0px;
}

/* TEXT SIZES */

h1 {
    font-size: calc(9vw);
}

h2 {
    font-size: calc(8vw);
}

/* COLORS */

.gray {
    color: #666;
}

.red {
    color: rgb(180, 0, 0);
}

.yellow {
    color: rgb(255, 174, 0)
}

.center-menu h2 {
    color: gray;
}

/* ACTIONS */

.show {
    display: block;
}

.hide {
    display: none;
}

